{% import "RevueManagement/widget/utils.html.twig" as utils %}

<div class="table-responsive">
    <table class="table" style="background-color: #FFFFFF">
        <thead class="thead">
            <tr>
                <th>
                    {{ 'label.title'|trans }}
                </th>
                <th>
                    {{ 'label.sort'|trans }}
                </th>
                <th>
                    {{ 'label.revision'|trans }}
                </th>
                <th>
                    {{ 'label.createDate'|trans }}
                </th>
                <th>
                    {{ 'label.createBy'|trans }}
                </th>
                <th>
                    {{ 'label.updateDate'|trans }}
                </th>
                <th>
                    {{ 'label.updateBy'|trans }}
                </th>
                {% if allowEdit and allowDelete %}
                    <th>
                        {{ 'table.action'|trans }}
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for lov in lovs %}
                <tr>
                    <td class="text-left">
                        {{ lov.title }}
                    </td>
                    <td class="text-left">
                        {{ lov.sort }}
                    </td>
                    <td class="text-left">
                        {{ lov.revision }}
                    </td>
                    <td class="text-left">
                        {{ utils.format_date(lov.createDate) }}
                    </td>
                    <td class="text-left">
                        {{ lov.createUser }}
                    </td>
                    <td class="text-left">
                        {{ utils.format_date(lov.updateDate) }}
                    </td>
                    <td class="text-left">
                        {{ lov.updateUser }}
                    </td>
                    {% if allowEdit and allowDelete %}
                        <td class="text-left">
                            {% if allowEdit %}
                                <a class="icon text-secondary"
                                    href="{{
                                    path(
                                        'admin_lov_edit',
                                        {
                                            entity: entity,
                                            id: lov.id
                                        }
                                    )
                                    }}"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="{{ 'action.edit'|trans }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            {% endif %}

                            {% if allowDelete %}
                                {% if lov.isValid %}
                                    <a class="icon text-success"
                                        href="{{
                                        path(
                                            'admin_lov_disable',
                                            {
                                                entity: entity,
                                                id: lov.id
                                            }
                                        )
                                        }}"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ 'action.disable'|trans }}">
                                        <i class="fas fa-toggle-on"></i>
                                    </a>
                                {% else %}
                                    <a class="icon text-danger"
                                        href="{{
                                        path(
                                            'admin_lov_disable',
                                            {
                                                entity: entity,
                                                id: lov.id
                                            }
                                        )
                                        }}"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ 'action.enable'|trans }}">
                                        <i class="fas fa-toggle-off"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
