{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'trackings'|trans }} - {{ 'tracking.mail'|trans }}{% endblock %}

{% block body %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ 'trackings'|trans }} / {{ 'tracking.mail'|trans }}
                          &nbsp;&nbsp;<a class="btn btn-sm btn-dark" href="{{ path('admin_mail_log_download') }}"><i class="fas fa-download"></i>&nbsp;{{ "action.download" | trans }}</a>
                        </h4>
                    </div>
                </div>
            </div>     
            <!-- end page title -->   

            <!-- Contenu -->
            <div class="card border-0">
              <div class="card-body">
                  <div class="table-responsive" id="users_list">
                        <table class="table table-bordered table-striped">
                          <thead class="thead-dark">
                            <tr>
                                <th>{{ "mailLog.date" | trans  }}</th>
                                <th>{{ "mailLog.from" | trans  }}</th>
                                <th>{{ "mailLog.to" | trans  }}</th>
                                {#<th>{{ "mailLog.cc" | trans  }}</th>#}
                                <th>{{ "mailLog.subject" | trans  }}</th>
                            </tr>
                         </thead>
                         <tbody> 
                           {% for loggedMessage in loggedMessages %}
                              <tr>                                              
                                  <td>{{ loggedMessage.date|date('d-M-Y H:i')}}</td>
                                  <td>{% for key,data in loggedMessage.from %}{{key}}; {% endfor %}</td>
                                  <td>{% for key,data in loggedMessage.to %}{{key}}; {% endfor %}</td>
                                  {#<td>{% for key,data in loggedMessage.cc %}{{key}}; {% endfor %}</td>#}
                                  <td> 
                                    {#<a role="button" class="lms-button col-12" data-target="#loggedMessage-{{ loggedMessage.id }}" data-toggle="modal" >{{ loggedMessage.subject| u.truncate(40)|raw }}</a>#}
                                    <a href="{{ path('admin_mail_log_message', {'id': loggedMessage.id })}}" class="btn btn-sm btn-secondary col-12" target="_blank">{{ loggedMessage.subject| u.truncate(40)|raw }}</a>
                                  </td>
                              </tr>
                           {% endfor %}
                         </tbody>
                      </table>
                  </div>
              </div>
              <div class="card-body">
                  <div class="d-flex">
                        <ul class="pagination ml-auto">
                            {% if pagination.page > 1 %}
                                <li class="page-item page-prev"><a class="page-link showSpinner" aria-label="Previous" href="{{ path(pagination.route,pagination.route_params|merge({'page': 1})) }}">&laquo;</a></li>
                            {% endif %}
                                    {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
                                      {% if p == pagination.page %} 
                                         <li  class="page-item active"><a class="page-link showSpinner" href="{{ path(pagination.route, pagination.route_params|merge({'page': p} )) }}">{{ p }}</a></li>
                                        {% else %}
                                         <li  class="page-item "><a class="page-link showSpinner" href="{{ path(pagination.route, pagination.route_params|merge({'page': p} )) }}">{{ p }}</a></li>
                                      {% endif %}
                                        

                                    {% endfor %}
                            {% if pagination.page < pagination.pages_count %}
                                
                                <li class="page-item page-next"><a class="page-link showSpinner" aria-label="Next" href="{{ path(pagination.route, pagination.route_params|merge({ 'page': pagination.pages_count})) }}">&raquo;</a></li>
                            {% endif %}
                        </ul>  
                  </div>      
              </div>  
            </div>
        </div>
    </div>
</div>    

{% endblock %}
  