{% extends 'base.html.twig' %}

{% block title %}
    Lien index
{% endblock %}

{% block body %}
    <h1>
        Lien index
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Url
                </th>
                <th>
                    actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for lien in liens %}
                <tr>
                    <td>
                        {{ lien.id }}
                    </td>
                    <td>
                        {{ lien.url }}
                    </td>
                    <td>
                        <a href="{{
                            path(
                                'user_management_lien_show',
                                {
                                    id: lien.id
                                }
                            )
                            }}">
                            show
                        </a>
                        <a href="{{
                            path(
                                'user_management_lien_edit',
                                {
                                    id: lien.id
                                }
                            )
                            }}">
                            edit
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">
                        no records found
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_management_lien_new') }}">Create new</a>
{% endblock %}
