{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'indexation.results'|trans }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('libs/tag-cloud/jquery.tagcloud.css') }}" />
{% endblock %}

{% block body %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ 'client.label'|trans }}: {{ client.name|u.truncate(140, '...') }}
                        </h4>
                    </div>
                </div>
            </div>     
            <!-- end page title -->      

            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">{{ 'indexation.cloud'|trans }}</div>
                        <div class="card-body">                
                            <div id="dciCloud"></div>
                        </div>
                    </div>        
                </div>
            </div>  

            <div class="row">
                <div class="col-12">           
					<div class="card">
                        <div class="card-header">{{ 'indexation.label'|trans }}</div>
						<div class="card-body">
                             <table class="table table-bordered table-striped" id="tablefiltre">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>{{ 'dcis'|trans }}</th>
                                        <th>{{ 'label.indexed'|trans }}</th>
                                    </tr>
                                </thead>
                                <thead id="filtreForm">
                                    <tr>  
                                        <th>{{ 'dci.title'|trans }}</th>
                                        <th>{{ 'label.indexed'|trans }}</th>                                
                                    </tr>
                                </thead>        
                                <tbody>  
                                    {% for dci in client.dcis %}
                                        <tr>
                                            <td>
                                                <span data-toggle="tooltip" data-placement="top" title="{{ dci.title }}">{% if dci.isValid == false %}<del>{% endif %}{{ dci.title|u.truncate(80, '...') }}{% if dci.isValid == false %}</del>{% endif %}</span>
                                                {% if dci.isIndexed == false %}<span class="badge badge-warning">non indexé</span>{% endif %}
                                            </td> 
                                            <td>
                                                {% if dci.isIndexed and dci.id|nbDciIndexation > 0 %}<a class="icon text-secondary" data-toggle="tooltip" data-placement="top" title="{{ 'indexation.indexed'|trans }}" href="{{ path('_admin_indexation_dci', {'dci': dci.id}) }}" target="_blank">{{ dci.id|nbDciIndexation }}</a>
                                                {% else %}0{% endif %}     
                                            </td> 
                                            </td>
                                        </tr>
                                    {% endfor %}                   
                                </tbody>
                            </table>
                        </div>
					</div>
                </div>   		
            </div>

        </div> 
    </div>
</div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}  
    {{ encore_entry_script_tags('js/datatables') }}
<script src="{{ asset('libs/tag-cloud/jquery.tagcloud.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        let options = {
            container: {
                width: 960,
                //fontFamily: '"Times New Roman", Times, serif',
                backgroundColor: '#fafaf8'
            },
            tag: {
                format:      '{tag.name}: {tag.weight}',
                maxFontSize: 45,    // max font size in pixels
                minFontSize: 8,     // min font size in pixels
                textShadow:  true   // text shadow, enabled for better visibility
            },
            data: [
            {% for dci in client.dcis|slice(0, 39)  %}
                { name: '{{ dci.title|escape }}', link: '', weight: {{ dci.id|nbDciIndexation }} },
            {% endfor %}                
            ]
        }
        $('#dciCloud').tagCloud(options);
    });
</script>      
{% endblock %}