{% extends 'admin_base.html.twig' %}

{% import "RevueManagement/widget/utils.html.twig" as utils %}

{% block title %}
    {{ 'indexation.results'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
        href="{{ asset('libs/tag-cloud/jquery.tagcloud.css') }}" />
{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="content">
            <!-- Start Content -->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">
                                {{ 'numeros'|trans }}: {{ numero.revue.title }}, {{
                                    numero.title
                                }}, {{ numero.receiptDate|date('d-M-Y') }}
                                &nbsp;&nbsp;
                                {{ utils.numero_images(numero) }}
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                {{ 'indexation.cloud'|trans }}
                            </div>
                            <div class="card-body">
                                <div id="dciCloud"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                {{ 'indexation.label'|trans }}
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped"
                                    id="tablefiltre">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                {{ 'dcis'|trans }}
                                            </th>
                                            <th>
                                                {{ 'indexation.nb_page'|trans }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <thead id="filtreForm">
                                        <tr>
                                            <th>
                                                {{ 'dcis'|trans }}
                                            </th>
                                            <th>
                                                {{ 'indexation.nb_page'|trans }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for indexation in indexations %}
                                            <tr>
                                                {#<td>{{ indexation['id'] }} </td>
                                            <td>{{ indexation['numero'] }} </td>#}
                                                <td>
                                                    {{ indexation['dci'] }}
                                                </td>
                                                {# <td><a href="{{ path('admin_search3_numero_dci', {'numero':numero.id, 'dci': indexation['dci']|url_encode })}}" target="_blank">{{ indexation['count_dci'] }}</a></td> #}
                                                <td>
                                                    <a href="{{
                                                        path(
                                                            '_admin_indexation_numero_dci',
                                                            {
                                                                numero: numero.id,
                                                                dci: indexation['dci_id']|url_encode
                                                            }
                                                        )
                                                        }}"
                                                        target="_blank">
                                                        {{
                                                            indexation['count_dci']
                                                        }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datatables') }}
    <script src="{{ asset('libs/tag-cloud/jquery.tagcloud.js') }}"
        type="text/javascript"
        charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() { let options = { container: { width: 960,
        //fontFamily: '"Times New Roman", Times, serif', backgroundColor:
        '#fafaf8' }, tag: { format: '{tag.name}: {tag.weight}', maxFontSize: 45,
        // max font size in pixels minFontSize: 8, // min font size in pixels
        textShadow: true // text shadow, enabled for better visibility }, data:
        [{% for indexation in indexations|slice(0, 39) %}
            { name: '{{ indexation['dci']|escape }}', link: '', weight: {{
                indexation['count_dci']
            }} },
        {% endfor %}] } $('#dciCloud').tagCloud(options); });
    </script>
{% endblock %}
