{{ include('partials/_flash_messages.html.twig') }}

{{ form_start(form) }}
	{{ form_row(form.commentaire) }}
	
	<div class="col text-center">
    	<button type="submit" class="btn waves-effect waves-light btn-primary">{{ button_label|default('Sauvegarder') }}</button>
	</div>
{{ form_end(form) }}
