{% extends 'admin_base.html.twig' %}

{% block title %}
    {{ 'numero.edit'|trans }}
{% endblock %}

{% block body %}
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fas fa-spinner fa-spin"></i></div>
</div>
    
    <div class="content-page">
        <div class="content">
            <!-- Start Content -->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">
                                {{ 'numero.edit'|trans }}
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        {{ include('RevueManagement/Numero/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="_locale" value="{{ app.request.get('_locale') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/numero') }}
    {{ encore_entry_script_tags('js/unveil') }}    
{% endblock %}
