{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'numeros'|trans }}{% endblock %}

{% import "RevueManagement/widget/utils.html.twig" as utils %}

{% block body %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">
                            {% if status == 'enable' %}
                                {{ 'numero.enabled_list'|trans }}
                            {% else %}
                                {{ 'numero.disabled_list'|trans }}
                            {% endif %}
                            &nbsp;&nbsp;
                            <a href="{{ site_help }}#/fr-fr/numeros" class="icon text-secondary" data-toggle="tooltip" data-placement="top" title="{{ 'label.user_help'|trans }}" target="_blank">
                                <i class="fas fa-question-circle"></i>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>     
            <!-- end page title -->      

            <ul class="nav nav-tabs nav-bordered nav-justified mb-3">
                <li class="nav-item">
                    <a href="{{ path('admin_numero_omines', {'status': 'enable'}) }}" aria-expanded="{% if status == 'enable' %}true{% else %}false{% endif %}" class="nav-link {% if status == 'enable' %}active{% endif %}">
                       {{ 'numero.enabled_list'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_numero_omines', {'status': 'disable'}) }}" aria-expanded="{% if status == 'disable' %}true{% else %}false{% endif %}" class="nav-link {% if status == 'disable' %}active{% endif %}">
                        {{ 'numero.disabled_list'|trans }}
                    </a>
                </li>
            </ul>

            <div class="row">
                <div class="col-12 text-center">
                    <div class="table-responsive" id="omines"></div>  
                </div>    
            </div>

        </div> 
    </div>
</div>

{#<a href="{{ path('admin_numero_new') }}" class="btn waves-effect waves-light btn-primary float">
    <i class="fas fa-plus float-icon"></i>
</a>#}   
{% endblock %}

{% block javascripts %} 
    {{ parent() }}  
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
$(function() {
    $(document).ajaxStart(function() { $(".spinner").show(); });
    $(document).ajaxStop(function() { $(".spinner").hide(); });  
      
    $('#omines').initDataTables({{ datatable_settings(datatable) }}, {
        searching: true,
        dom:'<"html5buttons"B>lTfgitp',
    }).then(function(dt) {
        // dt contains the initialized instance of DataTables
        dt.on('draw', function() {
            //alert('Redrawing table');
        })
        //$('[data-toggle="tooltip"]').tooltip();
    });         
});
</script> 
{% endblock %}