{% extends 'admin_base.html.twig' %}

{% block title %}
    {{ 'controle_qualite.edit'|trans }}
{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="content">
            <!-- Start Content -->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">
                               {{ 'revues'|trans }} / {{ 'numero.label'|trans }} / {{ 'rapport.label'|trans }} / {{ 'controle_qualite.label'|trans }}
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ include('RapportManagement/ControleQualite/_rapport.html.twig') }}
                    </div>
                </div>    

                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        {{ include('RapportManagement/ControleQualite/_form.html.twig') }}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
  var CKEDITOR_BASEPATH = "/libs/ckeditor/";
</script>
<script src="{{ asset('libs/ckeditor/ckeditor.js') }}"></script>
<script>
if (CKEDITOR.instances["controle_qualite_commentaire"]) { CKEDITOR.instances["controle_qualite_commentaire"].destroy(true); delete CKEDITOR.instances["controle_qualite_commentaire"]; }

    CKEDITOR.replace("controle_qualite_commentaire", {
        toolbar: [
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike'] },
        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },    
        { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'] },
        { name: 'insert', items: ['Table', 'HorizontalRule'] },
        { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Undo', 'Redo' ] },
        '/',
        { name: 'styles', items: [ 'Styles', 'Format', 'FontSize' ] },
        { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
        { name: 'others', items: [ '-' ] },
        { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source' ] }
    ]
    });

    $(() => {
        $("form").submit(function(e) {
            var description = CKEDITOR.instances['controle_qualite_commentaire'].getData().replace(/<[^>]*>/gi, '').length;
            if (!description) {
                toastr.error("{{ 'controle_qualite.error.controle_qualite_empty'|trans }}", "Error");
                return false;
            }
            $(".spinner").show();
        });
    });      
</script>      
{% endblock %}