{% extends 'admin_base.html.twig' %}

{% import "RevueManagement/widget/utils.html.twig" as utils %}

{% block title %}
    {{ 'dci.results'|trans }}
{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="content">
            <!-- Start Content -->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">
                                {{ 'dci.results'|trans }}: {{
                                    number.revue.title
                                }} - {{ number.title }} - {{
                                    number.receiptDate|date('d-M-Y')
                                }} ({{ clients|length }} {{ 'clients'|trans }})
                                &nbsp; &nbsp;{% if
                                    mysqlFullTextSearch == false %}
                                    <a class="icon text-secondary"
                                        href="{{
                                        path(
                                            'admin_search3_numero3',
                                            {
                                                id: number.id
                                            }
                                        )
                                        }}"
                                        alt="{{ 'pages'|trans }}"
                                        title="{{ 'pages'|trans }}"
                                        target="_blank">
                                        <span class="badge badge-info">
                                            {{
                                                'dci.mysqlFullTextSearch'|trans
                                            }}
                                        </span>
                                    </a>
                                {% endif %}
                            </h4>
                            {{ utils.numero_images(numero) }}
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row mb-3">
                    <div class="col-12">
                        <div class="card-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-10">
                                    {{ form_widget(form.dci) }}
                                </div>
                                <div class="col-2">
                                    <button type="submit"
                                        class="btn btn waves-effect waves-light btn-dark">
                                        {{ 'search'|trans }}
                                    </button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% for client in clients %}
                            <div class="card">
                                <div class="card-header">
                                    {{ client }}
                                </div>
                                <div class="card-body">
                                    {% for dci in client.dcis %}
                                        <a href="{{
                                            path(
                                                'admin_search3_numero_idDci',
                                                {
                                                    numero: number.id,
                                                    dci: dci.id
                                                }
                                            )
                                            }}"
                                            target="_blank">
                                            <span class="badge badge-secondary">
                                                {{ dci }}
                                            </span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <br />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datatables') }}
{% endblock %}
