{% extends 'admin_base.html.twig' %}

{% block title %}
    {{ 'title.set_new_pass'|trans }}
{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="content">

            <!-- Start Content -->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">
                            {{ 'title.set_new_pass'|trans }} ({% if  app.user.lastChangePassword !=null %} 
                    {{ 'user.password.lastchange'|trans({'%date%': app.user.lastChangePassword|date("d-M-Y")}) }} 
                {% endif %})
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                            {{ include('partials/_flash_messages.html.twig') }}

                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_row(form.password) }}

                            <div class="form-group text-center">
                                <button type="submit" class="btn waves-effect waves-light btn-dark">{{ button_label|default('Sauvegarder') }}</button>
                            </div>

                            {{ form_end(form) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% if  date(app.user.lastChangePassword) < date('-30days') %} 
                            <div class="alert alert-dismissible alert-primary mt-2" role="alert">
                                <button type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                {{ 'user.password.security'|trans }}
                            </div>                    
                        {% endif %}

                        {% if  app.user.lastChangePassword ==null %} 
                            <div class="alert alert-dismissible alert-primary mt-2" role="alert">
                                <button type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                    {{ 'user.password.welcome'|trans }}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <!-- end container -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/password-change') }}
{% endblock %}