{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.set_new_pass'|trans }}
{% endblock %}

{% block body %}
    <div class="account-pages w-100 mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-header">
                            {{ 'title.set_new_pass'|trans }}
                        </div>

                        <div class="card-body">
                            {{ include('partials/_flash_messages.html.twig') }}

                            {{ form_start(form) }}
                            {{ form_row(form.password) }}

                            <div class="form-group row mb-0">
                                <div class="col-md-4">
                                    <button type="submit"
                                        class="btn waves-effect waves-light btn-primary btn-block">
                                        {{ 'action.continue'|trans }}
                                    </button>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
    {{ encore_entry_script_tags('js/admin') }}
    {{ encore_entry_script_tags('js/password-change') }}                 
{% endblock %}